<!--div id="designer-host"><gc-activereports-designer [report]="report"> </gc-activereports-designer></div-->
<div class="p-4">
    <div class="container">
        <form [formGroup]="form" *ngIf="isLoaded">

            <div class="mb-3">
                <label for="dates">Dates:</label>
                <select #dates formControlName="dates" class="form-select" (change)="onSelected(dates.value)">

                    <option>Choose Date</option>
                    <option *ngFor="let date of list">{{date}}</option>
                </select>
                <div *ngIf="f.dates.dirty && f.dates.hasError('invalidDate')" class="alert alert-danger">Date must be
                    valid
                </div>
            </div>

            <fieldset *ngFor="let team of teams">
                <legend>{{team.function}} Users:</legend>
                <div class="border border-primary">
            
                    <table id=scheduledTable class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:30%">Function</th>
                                <th style="width:30%">User</th>
                                <!--th style="width:30%">UserAvailability</th-->
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of team.users">
                                <td>{{user.function}} </td>
                                <td>{{user.firstName}} </td>
                            </tr>
                        </tbody>
                    </table>
            
            
                </div>
            </fieldset>
        
        </form>
    </div>
</div>