<div class="mb-3 col" *ngIf="isLoaded">
    <label>Schedules for {{account.firstName}}</label>
</div>
<form [formGroup]="form">
    <fieldset>
        <legend>Available Dates:</legend>
        <div *ngIf="!isLoggedAsAdmin">
            <div class="col">
                <label>Date/Time</label>
                <select #element formControlName="availableSchedule4Function" class="form-select">
                    <option *ngFor="let item of poolElements">
                        {{ getDateDisplayStr(item.date) }}/{{ item.userFunction }}
                    </option>
                </select>
            </div>
        </div>
        <br>
        <button type="button" (click)="onAddAvailableSchedule()" class="btn btn-primary"
            [ngClass]="{ 'disabled': !form.controls['availableSchedule4Function'].valid || poolElements.length <= 0}">
            <span *ngIf="isAdding" class="spinner-border spinner-border-sm mr-1"></span> Add
        </button>
    </fieldset>


    <br>
    <fieldset>
        <legend>Assigned Dates:</legend>
        <input type="checkbox" (change)="onCheckboxChange($event)" formControlName="allDates" id="allDates"
            name="allDates" value="">
        <label for="allDates" class="ps-2">All</label><br>

        <div class="border ">
            <table id=scheduledTable class="table table-fixed">
                <thead>
                    <tr>
                        <th style="width:20%">Date/Time</th>
                        <th style="width:20%">Duty</th>
                        <th style="width:20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of schedules" [ngClass]="{ 'table-secondary': isScheduleFromPast(s)}">
                        <td>{{getDateDisplayStr(s.date)}} </td>
                        <td>{{s.userFunction}} </td>
                        <td style="white-space: nowrap" *ngIf="!isLoggedAsAdmin">

                            <button class="btn btn-sm btn-danger btn-delete-account" type="button"
                                (click)="onDeleteSchedule($event, s.id)"
                                [ngClass]="{ 'disabled': isScheduleFromPast(s)}">
                                <span *ngIf="s.deleting" class="spinner-border spinner-border-sm mr-1"></span> Delete
                            </button>
                        </td>
                    </tr>

                    <tr *ngIf="!schedules">
                        <td colspan="4" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>


                </tbody>


            </table>
        </div>
    </fieldset>
    <div class="mb-3">
        <a routerLink="/schedule" disabled="false" class="btn btn-link">Back</a>
    </div>
    <div class="row mt-3"></div>
</form>