<form [formGroup]="form" *ngIf="isLoaded && !isAdmin">

    <div class="row">
        <div class="mb-3 col-5">
            <label>Define schedules for {{account.firstName}}</label>
        </div>
    </div>
    
    <fieldset>
        <legend>Date & Duty:</legend>
        <div class="row">
            <div class="mb-3 col-12">
                <label>Date/Time</label>
                <input type="datetime-local" formControlName="scheduledDate" class="form-control">
    
            </div>
            <div class="mb-3 col-12">
                <label>Duty</label>
                <select formControlName="function" class="form-select"
                    [ngClass]="{ 'is-invalid': submitted && f['function'].errors }">
                    <option *ngFor="let item of userFunctions" [value]='item.userFunction'>
                        {{ item.userFunction }}
                    </option>
                </select>
    
                <div *ngIf="submitted && form.controls['function'].hasError('invalidFunction')" class="alert alert-danger">
                    Duty can't be empty</div>
            </div>
    
        </div>
        <div class="mb-3" *ngIf="isLoggedAsAdmin">
            <button type="button" (click)="onAddSchedule()" class="btn btn-primary"
                [ngClass]="{ 'disabled': !form.controls['scheduledDate'].valid}">
                <span *ngIf="isAdding" class="spinner-border spinner-border-sm mr-1"></span> Add
            </button>
        </div>
    </fieldset>

    <fieldset>
        <legend>Assigned Dates:</legend>
        <div class="border">
            <table mat-table #table [dataSource]="dataSource" matSort>
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
                </ng-container>
            </table>
            <table id=scheduledTable class="table table-fixed">
                <thead>
                    <tr>
    
                        <th style="width:20%">Date</th>
                        <th style="width:20%">Duty</th>
                        <th style="width:20%"></th>
    
                    </tr>
                </thead>
                <tbody *ngIf="schedules">
                    <tr *ngFor="let s of schedules">
                        <td>{{getDisplayDate(s.date)}} </td>
    
                        <td>{{s.userFunction}} </td>
                        <td style="white-space: nowrap" *ngIf="isLoggedAsAdmin">
                            <button type="button" (click)="onDeleteSchedule(s.id)"
                                class="btn btn-sm btn-danger btn-delete-account">
                                <span *ngIf="s.deleting" class="spinner-border spinner-border-sm mr-1"></span> Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div type="button" class="mb-3">
        <a routerLink="/admin/accounts" class="btn btn-link">Back</a>
    </div>
    <div class="row mt-3"></div>
</form>